/* Box Shadow */

$shadow--extra-small: 0px 1px 3px 0px rgba(136, 136, 136, 0.15);
$shadow--small: 0px 1px 3px rgba(136, 136, 136, 0.25);
$shadow--medium: 0px 1px 7px 1px rgba(136, 136, 136, 0.25);
$shadow--large: 0px 8px 14px 4px rgba(136, 136, 136, 0.25);