/* Colors */
$color--white: #FFFFFF;
$color--black: #000000;

$color--primary-1000: #A36200;
$color--primary-900: #CC7A00;
$color--primary-800: #F59300;
$color--primary: #FCA311;
$color--primary-600: #FFA51F;
$color--primary-500: #FFB647;
$color--primary-400: #FFC670;
$color--primary-300: #FFD699;
$color--primary-200: #FFE7C2;
$color--primary-100: #FFF7EB;

$color--blue-1100: #001529;
$color--blue-1000: #002A52;
$color--blue-900: #003F7A;
$color--blue: #004E98;
$color--blue-800: #0069CC;
$color--blue-700: #007EF5;
$color--blue-600: #1F93FF;
$color--blue-500: #47A6FF;
$color--blue-400: #70BAFF;
$color--blue-300: #99CEFF;
$color--blue-200: #C2E1FF;
$color--blue-100: #EBF5FF;

$color--neutral-300: #E2E2E2;
$color--neutral-200: #F7F8F9;
$color--neutral-100: #F5F5F5;
$color--neutral-50: #FAFAFA;

$color--text-strong: #2C2C2C;
$color--text: #757575;
$color--text-500: #8F8F8F;
$color--text-400: #ADADAD;
$color--text-300: #CCCCCC;
$color--text-200: #E0E0E0;

$color--success-700: #006646;
$color--success-600: #008F62;
$color--success: #00B87D;
$color--success-200: #ADFFE5;
$color--success-100: #E0F5ED;

$color--danger-700: #931010;
$color--danger-600: #CA1616;
$color--danger: #E73737;
$color--danger-200: #F7B6B6;
$color--danger-100: #FDEDED;

$color--yellow-700: #B88400;
$color--yellow-600: #E0A100;
$color--yellow: #FFB703;
$color--yellow-400: #FFC533;
$color--yellow-300: #FFD470;
$color--yellow-200: #FFE7AD;
$color--yellow-100: #FFF9EB;

$color--focus-ring: $color--text-strong;
