/* Colors */
$color--white: #FFFFFF;
$color--black: #000000;
$color--gray-1: #DBDBDB;
$color--light-gray-1: #E0E0E0;
$color--light-gray-2: #F8F8F8;
$color--light-gray-3: #FCFCFC;

$color--primary: #FFB142;
$color--primary-lighten-1: #FFCA71;
$color--primary-lighten-2: #FFD98D;
$color--primary-lighten-3: #FFE9B3;
$color--primary-lighten-4: #FFF5D9;

$color--secondary: #8854D0;
$color--secondary-lighten-1: #AC7DE2;
$color--secondary-lighten-2: #C69AF0;
$color--secondary-lighten-3: #DFBEFA;

$color--tertiary: #3867D6;
$color--tertiary-lighten-1: #6690E6;
$color--tertiary-lighten-2: #87ADF2;
$color--tertiary-lighten-3: #B0CDFA;
$color--tertiary-lighten-4: #D7E7FC;
$color--tertiary-lighten-5: #D7E7FC80;
$color--tertiary-lighten-6: #d7e7fc33;

$color--success-darken-2: #1DA365;
$color--success: #3AE374;
$color--success-lighten-4: #D9FDD7;

$color--danger: #FF3838;
$color--danger-lighten-1: #FF7669;
$color--danger-lighten-4: #FFE4D7;

$color--text-darken: #1F2D3D;
$color--text-darken-50: #{$color--text-darken}80;
$color--text: #3F5876;
$color--text-lighten: #B3BAC5;

$color--green: #079992;
