/* Colors */
$color--white: #FFFFFF;
$color--black: #000000;
$color--gray-1: #DBDBDB;
$color--light-gray-1: #E0E0E0;
$color--light-gray-2: #F8F8F8;
$color--light-gray-3: #FCFCFC;

$color--primary: #FFB142;
$color--primary-400: #FFCA71;
$color--primary-300: #FFD98D;
$color--primary-200: #FFE9B3;
$color--primary-100: #FFF5D9;

$color--secondary: #8854D0;
$color--secondary-400: #AC7DE2;
$color--secondary-300: #C69AF0;
$color--secondary-200: #DFBEFA;
$color--secondary-100: #F0DEFC;

$color--tertiary: #3867D6;
$color--tertiary-400: #6690E6;
$color--tertiary-300: #87ADF2;
$color--tertiary-200: #B0CDFA;
$color--tertiary-100: #D7E7FC;
$color--tertiary-50: #D7E7FC80;
$color--tertiary-25: #d7e7fc33;

$color--danger: #FF3838;
$color--danger-400: #FF7669;
$color--danger-300: #FF7669;
$color--danger-200: #FFC4AF;
$color--danger-100: #FFE4D7;

$color--text-darken: #1F2D3D;
$color--text-darken-50: #{$color--text-darken}80;
$color--text: #3F5876;
$color--text-lighten: #B3BAC5;

$color--success-900: #054E49;
$color--success-800: #095E50;
$color--success-700: #0E755A;
$color--success-600: #158C61;
$color--success-500: #1DA365;
$color--success-400: #4CC782;
$color--success-300: #73E399;
$color--success-200: #A4F5B8;
$color--success-100: #D1FAD6;
