/* Z-index */

$z-index--landing-header-menu: 1;
$z-index--landing-header: 2;
$z-index--header-user-info-menu: 9;
$z-index--header-notifications-modal: 9;
$z-index--header-nav: 10;
$z-index--modal-overlay: 80;
$z-index--snackbar-container: 90;
$z-index--splash-screen: 100;
