/* Breakpoints */
$large-smartphone-up: 375px;
$tablet-portrait-up: 600px;
$large-tablet-portrait-up: 768px;
$tablet-landscape-up: 900px;
$large-tablet-landscape-up: 992px;
$desktop-up: 1200px;
$large-desktop-up: 1800px;

/* Font weight */
$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--medium: 500;
$font-weight--semibold: 600;
$font-weight--bold: 700;
$font-weight--extrabold: 800;
$font-weight--black: 900;