.app-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: $font-weight--semibold;
}

.playoff-round-grid {
  display: grid;
  & > *:nth-child(n + 4) {
    display: none;
  }
  @include for-large-tablet-portrait-down {
    & > *:nth-child(n + 2) {
      display: none;
    }
  }
  @include for-large-tablet-portrait-up {
    grid-template-columns: repeat(2, 1fr);
  }
  @include for-desktop-down {
    & > *:nth-child(n + 3) {
      display: none;
    }
  }
  @include for-desktop-up {
    grid-template-columns: repeat(3, 1fr);
  }
}