// App base card
.app-base-card {
  height: fit-content;
  padding: var(--base-card--padding, 1.25rem);
  background-color: $color--white;
  border-radius: $radius--extra-large;
  box-shadow: $shadow--card;
}

// App link
.app-link {
  color: $color--primary-800;
  font-weight: $font-weight--medium;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

// App chip group
.app-chip-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}
