%container {
  --container-padding: 1rem;
  width: 100%;
  padding: 0 var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

.container-small {
  @extend %container;
  max-width: calc(var(--container-padding) * 2 + 56.25rem);
}
.container-medium {
  @extend %container;
  max-width: calc((var(--container-padding) * 2) + 75rem);
}
.container-large {
  @extend %container;
  max-width: calc((var(--container-padding) * 2) + 90rem);
}
