%container {
  --container-base-size: 1;
  --container-padding: #{$spacing--screen-vertical-padding};

  width: 100%;
  padding: 0 var(--container-padding);
  margin-left: auto;
  margin-right: auto;
  @include for-large-desktop-up {
    --container-base-size: 1.15;
  }
}

.container {
  @extend %container;
}

// 900px
.container-small {
  @extend %container;
  max-width: calc((var(--container-padding) * 2 + 56.25rem) * var(--container-base-size));
}

// 1200px
.container-medium {
  @extend %container;
  max-width: calc(((var(--container-padding) * 2) + 75rem) * var(--container-base-size));
}

// 1440px
.container-large {
  @extend %container;
  max-width: calc(((var(--container-padding) * 2) + 90rem) * var(--container-base-size));
}
