/* Skeleton loader */

.skeleton {
  --width: 100%;
  --height: 1rem;
  --mb: 1rem;
  --radius: 0.25rem;

  display: block;
  width: var(--width);
  height: var(--height);
  margin-bottom: var(--mb);
  border-radius: var(--radius);
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #c2cfd6;
  }
  100% {
    background-color: #f0f3f5;
  }
}
