// Fade
.fade {
  &-enter-from {
    opacity: 0.4;
  }
  &-enter-active {
    transition: opacity $transition--fastest ease-out;
  }
}

// Fade through - Emphasizes entering elements
.fade-through {
  &-enter-from {
    opacity: 0.4;
    transform: scale(0.92);
  }
  &-leave-to {
    opacity: 0.4;
  }
  &-enter-active {
    transition:
      opacity $transition--fast ease-out,
      transform $transition--fast ease-out;
  }
  &-leave-active {
    transition: opacity $transition--fastest ease;
  }
}

.scroll-y {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: scale(0.97) translateY(-8px);
  }
  &-enter-active {
    transition: $transition--fastest ease-out;
  }
  &-leave-active {
    transition: $transition--fastest ease-in;
  }
}