*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: $color--text;
  font-family: $font-family--primary;
  font-size: inherit;
  font-weight: inherit;
}

html {
  @include scrollbar;
  font-size: 16px;
  font-weight: $font-weight--normal;
  @include for-large-desktop-up {
    font-size: 17px;
  }
}

body, #app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

input, textarea {
  border-radius: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  width: 100%;
  height: 1px;
  border: 0;
}

ol, ul {
  list-style: none;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

b {
  font-weight: $font-weight--semibold;
}

[disabled],
[aria-disabled="true"] {
  cursor: default;
}

::selection {
  color: $color--white;
  background-color: $color--tertiary;
}

/* Removes arrows from number inputs */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
