*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: $color--text;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  font-weight: $font-weight--normal;
}

html {
  font-size: 16px;
  @include for-large-desktop-up {
    font-size: 18px;
  }
}


body, #app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

input, textarea {
  border-radius: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  width: 100%;
  height: 1px;
  border: 0;
}

ol, ul {
  list-style: none;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

[disabled],
[aria-disabled="true"] {
  cursor: default;
}
