@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 9px;
  }
  &::-webkit-scrollbar-track {
    background-color: $color--light-gray-2;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color--text-lighten;
    border-radius: 3px;
    &:hover {
      background-color: darken($color--text-lighten, 15);
    }
  }
}