@mixin scrollbar(
  $background: $color--light-gray-2,
  $color: $color--text-lighten,
  $width: 9px,
) {
  &::-webkit-scrollbar {
    width: $width;
  }
  &::-webkit-scrollbar-track {
    background-color: $background;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 3px;
    &:hover {
      background-color: darken($color, 15);
    }
  }
}