@mixin scrollbar(
  $background: $color--neutral-50,
  $color: $color--neutral-300,
  $width: 8px,
) {
  &::-webkit-scrollbar {
    width: $width;
  }
  &::-webkit-scrollbar-track {
    background-color: $background;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 2px;
    &:hover {
      background-color: darken($color, 15);
    }
  }
}