@mixin transition-scale-from-top {
  &.v-popper__popper--show-from .v-popper__wrapper {
    opacity: 0;
    transform: scaleY(0.8);
  }
  &.v-popper__popper--show-to .v-popper__wrapper {
    transition:
      transform 0.12s cubic-bezier(0, 0, 0.2, 1),
      opacity 0.12s cubic-bezier(0, 0, 0.2, 1);
      transform-origin: top center;
  }
}

// User menu
.v-popper--theme-user-menu {
  @include transition-scale-from-top;
  .v-popper__inner {
    width: 13rem;
    padding: 1.25rem;
    background-color: $color--white;
    border-radius: $radius--large;
    box-shadow: $shadow--popup;
  }
  .v-popper__arrow-container {
    display: none;
  }
}

// App dropdown
.v-popper--theme-app-dropdown {
  @include transition-scale-from-top;
  .v-popper__wrapper {
    background-color: $color--white;
    border: 1px solid $color--neutral-300;
    border-radius: $radius--large;
    box-shadow: $shadow--dropdown;
    overflow-x: hidden;
  }
  .v-popper__inner {
    @include scrollbar;
    max-height: var(--v-popper-dropdown--max-height, 11rem);
  }
  .v-popper__arrow-container {
    display: none;
  }
}

// Team performance
.v-popper--theme-team-performance {
  width: 100%;
  max-width: 48rem;
  .v-popper__inner {
    max-height: 22rem;
  }
}

// Popup large
.v-popper--theme-app-popup-large {
  &.v-popper__popper {
    width: 100%;
    max-width: 22.25rem;
  }
  .v-popper__wrapper {
    background-color: $color--white;
    border-radius: $radius--large;
    box-shadow: $shadow--popup;
    overflow-x: hidden;
  }
  .v-popper__inner {
    @include scrollbar;
    height: 23.75rem;
    padding: 1rem;
  }
  .v-popper__arrow-container {
    display: none;
  }
}

// Tooltip
.v-popper--theme-tooltip {
  &.v-popper__popper--show-from .v-popper__wrapper {
    opacity: 0;
    transform: translateY(0.375rem);
  }
  &.v-popper__popper--show-to .v-popper__wrapper {
    transition:
      transform 0.12s cubic-bezier(0, 0, 0.2, 1),
      opacity 0.12s cubic-bezier(0, 0, 0.2, 1);
  }
  .v-popper__inner {
    padding: 0.25rem 0.375rem;
    background-color: $color--black;
    border-radius: 0.375rem;
    color: $color--neutral-100;
    font-size: 0.875rem;
    font-weight: $font-weight--medium;
  }
  .v-popper__arrow-outer {
    border-color: $color--black;
  }
}

// Match tooltip
.v-popper--theme-match-tooltip {
  &.v-popper__popper--show-from .v-popper__wrapper {
    opacity: 0;
  }
  &.v-popper__popper--show-to .v-popper__wrapper {
    transition: opacity 0.12s cubic-bezier(0, 0, 0.2, 1);
  }
  .v-popper__wrapper {
    background-color: $color--white;
    border: 1px solid $color--neutral-300;
    border-radius: $radius--small;
  }
  .v-popper__inner {
    padding: 0.5rem;
  }
  .v-popper__arrow-outer {
    border-color: $color--neutral-300;
  }
  .v-popper__arrow-inner {
    visibility: visible;
    border-color: $color--white;
  }
}

// Context menu
.v-popper--theme-context-menu {
  &.v-popper__popper--show-from .v-popper__wrapper {
    opacity: 0;
    transform: translateX(-0.375rem);
  }
  &.v-popper__popper--show-to .v-popper__wrapper {
    transition:
      transform 0.12s cubic-bezier(0, 0, 0.2, 1),
      opacity 0.12s cubic-bezier(0, 0, 0.2, 1);
  }
  .v-popper__wrapper {
    width: 12.25rem;
    background-color: $color--white;
    border-radius: $radius--medium;
    box-shadow: $shadow--popup;
  }
  .v-popper__arrow-container {
    display: none;
  }
}

// Popup menu
.v-popper--theme-popup-menu {
  &.v-popper__popper--show-from .v-popper__wrapper {
    opacity: 0;
    transform: translateX(-0.375rem);
  }
  &.v-popper__popper--show-to .v-popper__wrapper {
    transition:
      transform 0.12s cubic-bezier(0, 0, 0.2, 1),
      opacity 0.12s cubic-bezier(0, 0, 0.2, 1);
  }
  .v-popper__wrapper {
    width: 17.5rem;
    background-color: $color--white;
    border-radius: $radius--large;
    box-shadow: $shadow--popup;
  }
  .v-popper__arrow-container {
    display: none;
  }
  .v-popper__inner {
    height: 23rem;
    > div:first-child {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}