.v-popper--theme-tooltip.v-popper__popper--show-from .v-popper__wrapper {
  opacity: 0;
  transform: translateY(0.375rem);
}
.v-popper--theme-tooltip.v-popper__popper--show-to .v-popper__wrapper {
  transition: opacity .15s cubic-bezier(.4, 0, .2, 1), transform .15s cubic-bezier(.4, 0, .2, 1);
}
.v-popper--theme-tooltip .v-popper__inner {
  @apply rounded-lg! text-neutral-content! bg-neutral! py-0.25! px-0.5!;
}
.v-popper--theme-tooltip .v-popper__arrow-outer {
  @apply border-neutral!;
}

/* Team form */
.v-popper--theme-team-form .v-popper__wrapper {
  @apply shadow-sm rounded-lg bg-base-100;
}
.v-popper--theme-team-form .v-popper__inner {
  @apply py-0.5 px-0.75;
}
.v-popper--theme-team-form .v-popper__arrow-outer {
  @apply border-base-200;
}
.v-popper--theme-team-form .v-popper__arrow-inner {
  @apply border-base-100 visible;
}
