@import "./_reset.css";
@import "./_tooltip.css";
@import "tailwindcss";

@plugin "daisyui" {
  themes: emerald --default;
}

@theme {
  --spacing: 1rem;
  --spacing-0.25: --spacing(0.25);
  --spacing-0.75: --spacing(0.75);
  --spacing-1.25: --spacing(1.25);

  --font-primary: 'Inter', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --breakpoint-*: initial;
  --breakpoint-sm: 23.4375rem; /*  375px */
  --breakpoint-tablet: 37.5rem; /* 600px */
  --breakpoint-tablet-md: 48rem; /* 768px */
  --breakpoint-tablet-lg: 56.25rem; /* 900px */
  --breakpoint-tablet-xl: 62rem; /* 992px */
  --breakpoint-desktop: 75rem; /* 1200px */
  --breakpoint-desktop-xl: 112.5rem; /* 1800px */

  /* Container */
  --container-*: initial;
  --container-lg: 90rem; /* 1440px */
  --container-md: 81rem; /* 1296px */
  --container-sm: 60rem; /* 960px */
  --container-xs: 37.5rem; /* 600px */
  --container-base: none;

  /* Colors */
  --color-gray-1: #faf9fa;
}

@utility container-* {
  @apply w-full px-(--spacing-screen-padding) mx-auto;
  max-width: calc((var(--spacing-screen-padding) * 2 + --value(--container-*) * var(--container-base-size)));
}

@layer components {
  .badge-container {
    @apply flex items-center gap-0.5;
  }
}