@import "./_reset.css";
@import "tailwindcss";

@plugin "daisyui" {
  themes: emerald --default;
}

@theme {
  --spacing: 1rem;
  --spacing-0.25: --spacing(0.25);
  --spacing-0.75: --spacing(0.75);
  --spacing-1.25: --spacing(1.25);

  --font-primary: 'Inter', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}